@import "tailwindcss";
@plugin "daisyui";

@layer components {
  .primary {
    @apply text-[#f78c11];
  }
  .bg-primary {
    @apply bg-[#f78c11];
  }
}
body {
  background-color: white !important;
  color: black;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fade-out 1s ease-out forwards;
  animation-delay: 2s;
}


/* globals.css */
.scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #4ade80 #d1fae5; /* Thumb | Track */
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #d1fae5;
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #4ade80;
  border-radius: 9999px;
  border: 2px solid #d1fae5;
}
